@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: #1B3764;
    color: white;
}
header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    /* position: relative; */
}
.navbar{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: absolute; */
    height: 50px;
    background-color: aqua;
    font-family: 'Inter', sans-serif;
}
.navbar .logo{
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
}
.logo h1{
    padding-left: 10px;

    font-size: 28px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    /* width: 70vw; */
    font-family: 'Inter', sans-serif; 
    font-size: 17px;
    font-style: normal;
    /* font-weight: 500; */
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    /* background-color: bisque; */
    margin-right: 30px;
}
.links ul li{
    margin-right: 30px;
    /* background-color: aquamarine; */
}
ul li:nth-child(5){
    margin-right: 26px;
}
/* ul i{
    width: 22px;
    padding-left: 26px; 
     background-color: #FFCA42; 
} */
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 13px 33px;
    background-color: #FFCA42;
    height: 50px;
    width: 180px;
    /* gap: 10px; */

    color: #1B3764;
    font-family: 'Cardo', serif;
    /* font-family: 'Inter', sans-serif; */
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    /* letter-spacing: 0.38px; */
}
/* @media() */