*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    position: relative;
    /* background: rgb(248, 231, 76); */
    transition: 0.8s;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50px;
    transform: translate(-50px,-50px);
    display: flex;
    align-items:center;
    justify-content:center;
}
.container .toggle{
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 50px;
    background: #444;
    border-radius: 30px;  
    transition: 0.3s;
}
.container .toggle .toggle-button{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}
.container .toggle.active{
    background:cornflowerblue;
}
.container .toggle.active .toggle-button{
    left: 45px;
}
.container .text{
    position: absolute;
    left:99px;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 10px;
}
.text1{
    position: absolute;
    top: 50%;
    margin: 50px 50px 50px 50px ;
}
.text1 button{
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 8px;
    font-size: 25px;
    /* background-color: black; */
    /* color: white; */
}