
*{
    padding: 0;
    /* margin:0; */
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to bottom right,#1F357C,#3D175A);
    /* background-repeat: no-repeat; */
    color: white;
    height: 100vh;
    overflow: hidden;
}
.f_h1{
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-decoration: underline; */
}
.middle{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-bottom: 10px;
    flex-direction: column;
}
.middle input{
    margin-right: 15px;
    width: 30vw;
    padding: 10px 10px 10px 5px;
    font-size: 1rem ;
    border-radius: 10px;
}
.middle textarea{
    margin-right: 15px;
    width: 30vw;
    padding: 10px 10px 10px 5px;
    font-size: 1rem ;
    border-radius: 10px;
    resize: none;
}
.middle button{
    padding: 10px;
    border-radius: 10px;
    font-size: 0.9rem;
    background: linear-gradient(180deg, yellow,white,red);
    border: none;
}
.lower{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    border: 1px solid red;
    height: 500px;
    width: 28vw;
    padding: 8px 0px 0px 0px;
    gap: 8px;
    margin-left: 35vw;
}
.item{
    width: 400px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border-radius: 10px;
    padding: 10px;
}
.left{
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    width: 350px;
}
.left-in p{
    /* background-color: wheat; */
    width: 305px;
    word-wrap: break-word;
    margin: 0px;
}
.title{
    font-weight: bold;
}

@media (min-width:0px) and (max-width:400px){
    .middle input{
        width: 8rem;
        padding: 10px 10px 10px 5px;
        font-size: 2vh ;
        border-radius: 10px;
    }
    .middle button{
        padding: 10px;
        border-radius: 10px;
        font-size: 0.9rem;
        background: linear-gradient(180deg, yellow,white,red);
        border: none;
    }
}

@media (min-width:401px) and (max-width:600px){
    .middle input{
        /* margin-right: 15px; */
        width: 10rem;
        padding: 10px 10px 10px 5px;
        font-size: 2vh ;
        border-radius: 10px;
    }
}

@media (min-width:601px) and (max-width:1200px){
    .middle input{
        /* margin-right: 15px; */
        width: 15rem;
        padding: 10px 10px 10px 5px;
        font-size: 2vh ;
        border-radius: 10px;
    }
}